body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    background-image: url(https://www.xtrafondos.com/wallpapers/resized/minecraft-dungens-jungle-awaens-hero-5659.jpg?s=large);
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position: center;
        
}
.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.header__title-creator {
    font-size: 10px;
    color: white;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px 15px;
    background-color: rgba(39, 38, 38, 0.636);
}
.header__title:hover {
    cursor: pointer;
}
.header__img{
    width: 70px;
    margin-left: 30px;
    }
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}
.login__container {
    background-color: rgba(39, 38, 38, 0.836);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.login__container--form {
    display: flex;
    flex-direction: column;   

}      
        
.login__container--form label {
    font-size: 14px;
}
.login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    a {
        font-size: 14px;
        @extend .text_underline
    }

}
.login__container--social-media {
    > div {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-bottom: 10px;
    }
    > div > img {
        width: 30px;
        margin-right: 10px;
    }
}
.login__container--register {
    font-size: 14px;
    a {
    font-size: 16px;
    font-weight: bold;
    @extend .text_underline
    }
}
.input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
    color: white;
}
::placeholder {
    color: white;
}
.button {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
    outline: none;
}
.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
     a {
    cursor: pointer;
    font-size: 14px;
    padding: 0px 30px;
    @extend .text_underline
    }
}


.register {
    
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    min-height: calc(100vh - 200px);
    padding: 0px 30px;

}
.register__container {
    background-color: rgba(39, 38, 38, 0.836);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    padding: 60px 68px 40px;
    border: 2px solid white;
    border-radius: 40px;
    min-height: 700px;
    width: 300px;
}

.register__container--form {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.register__container--inicio-sesion {
    display: flex;
    justify-content: center;
    margin: 50px 0px 30px;
    font-size: 16px;
    @extend .text_underline
}



@media only screen and (max-width: 600px) {
    .login__container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;        
    }
    body {
        background-color: rgba(39, 38, 38, 0.836);
        background-image: none;
    }
    .login__container h2 {
        @extend .flex-media
    }
    .login__container--social-media div {
        @extend .flex-media
        }
    .login__container--register {
        @extend .flex-media
    }
    .footer {
        align-items: flex-end;
        justify-content: center;
        a {
        font-size: 10px;
        padding: 0px 10px;
        }
    }
    .register__container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%; 
        h2 {
        @extend .flex-media
        }
    }  
    .flex-media {
        display: flex;
        justify-content: center;
    }
}

.text_underline {
    color: white;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
