<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesgeneral.css">
</head>
<body>
    <header class="header">
        <img class="header__img" 
        src="https://raw.githubusercontent.com/platzi/PlatziVideo/feature/react/src/assets/static/logo-platzi-video-BW2.png" 
        alt="logo-platzi">
        <div class="header__menu">
            <div class="header__menu--profile">
                <img src="./assets/user-icon.png" alt="">
                <p>Perfil</p>
            </div>
            <ul>
                <li><a href="../index.html">Cuenta</a></li>
                <li><a href="../login/login.html">Cerrar Sesión</a></li>
            </ul>
        </div>
    </header>


    <main class="box">
        <div class="box__error404">
            <h1>404</h1>
            <p>página no encontrada</p>            
        </div>
    </main>


    <footer class="footer">
        <a href="/components/ERROR404.html">Terminos de uso</a>
        <a href="/components/ERROR404.html">Declaración de privacidad</a>
        <a href="/components/ERROR404.html">Centro de ayuda</a>
    </footer>
    
</body>
</html>